/* este narvar es el link que por alguna razon con la imagen se agranda entoses con el widht lo hachico y hago que quede mejor algo asi tag A[img NIKE] */

.narvbar{
    /* margin-right: -100%; */
    width: 40%;
}

/* .desplegable:hover{
    border-bottom: solid 1px red;
} */

.nav-item:hover{
    border-bottom: solid 2px rgb(0, 0, 0);
}

.logo{
    width: 20%;
}