/* este narvar es el link que por alguna razon con la imagen se agranda entoses con el widht lo hachico y hago que quede mejor algo asi tag A[img NIKE] */

.narvbar{
    /* margin-right: -100%; */
    width: 24%;
    /* position: fixed; */
}

/* este margin es para que con el position fixed que bien  */
.desplegable1{
    /* margin-left: 50%; */
} 

.nav-item:hover{
    border-bottom: solid 2px rgb(0, 0, 0);
}

.logo{
    width: 20%;
}

/* esto es el boton que aparece cuendo se achica la pantalla */
.navbar-toggler{
    /* margin-left: 70%; */
}